:host {
  display: flex;
  flex-direction: column;

  a {
    color: rgba(0, 0, 0, .87);
    cursor: pointer;
    text-decoration: none;
    padding-bottom: 20px;

    &:hover {
      opacity: .8;
    }
  }
}
